@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --darkblue: #2A324B;
    --blue: #58699D;
    --grey: #E1E5EE;
    --white: #FFFFFF;
    --black: #000000;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    background-color: var(--grey);
    font-family: "Montserrat", serif;
    font-size: 20px;
}

header, article, aside,  section, footer, main {
    box-sizing: border-box;
}

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    nav {
        width: 100%;
        background-color: var(--white);

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            display: flex;

            a {
                color: var(--black);
                padding: calc(0.5rem + 4px) 1rem;
                display: inline-block;
                text-decoration: none;
                border-bottom: 4px solid var(--red);
            }

            a:hover {
                background: var(--yellow);
                color: var(--black);
                border-bottom: 4px solid var(--black);
            }
        }
    }
}

