@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --darkblue: #2A324B;
    --blue: #58699D;
    --grey: #E1E5EE;
    --white: #FFFFFF;
    --black: #000000;
}

/* Globale stiler */
body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    background-color: var(--grey);
    color: var(--darkblue);
    text-align: center;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Header og */
header {
    background-color: var(--grey);
    padding: 1rem;
}

/* Hovedcontainer */
main {
    background-color: var(--white);
    width: 80%;
    max-width: 900px;
    min-height: 25vh;
    margin: 1rem auto;
    padding: 1rem; 
    padding: 20px;
    margin-top: -1rem;
}

nav {
    display: flex;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 10px;
    padding: 0;
    margin: 0;
}

nav button {
    background-color: var(--darkblue);
    color: var(--white);
    font-weight: bold;
    border: none;
    padding: 25px 50px;
    cursor: pointer;
    font-size: 16px;
}

nav button:hover {
    background-color: var(--white);
    color: var(--black);
}

/* Innholdsseksjonen */
#content {
    padding: 20px;
}

#content h2 {
    font-size: 24px;
    font-weight: bold;
    display: flex;
    justify-content: left;
}

#content p {
    font-size: 16px;
    color: var(--black);
    text-align: left;
}

#content ul {
    padding-left: 20px;
}

#content ul li {
    margin-bottom: 5px;
    text-align: left;
}
